.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

.customers .item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
}

.customers .item img {
  height: 100px;
  width: auto;
  object-fit: contain;
}
